.Drawer {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 80%;
	max-width: 300px;
	padding: 20px 10px;
	background-color: #fff;
	z-index: 90;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
	-webkit-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

.Drawer.close {
	-webkit-transform: translateX(-300px);
	-ms-transform: translateX(-300px);
	-o-transform: translateX(-300px);
	transform: translateX(-300px);
}

.Drawer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.Drawer  ul li {
	margin-bottom: 15px;
}

.Drawer ul li a {
	color: #363d54;
	font-size: 30px;
	text-decoration: none;
	background-color: #fff;
	position: relative;
	padding: 0 20px 10px 20px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.Drawer ul li a:hover {
	opacity: 0.7;
	cursor: pointer;
}


@media only screen and (max-width: 575px) {
	.Drawer ul li a {
		font-size: 20px;
	}
}