.ActiveQuiz {
	padding: 20px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
}

.Question {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.Question span {
	padding-right: 20px;
}

.Question small {
	white-space: nowrap;
}