.QuizCreator {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding: 80px 15px;
	flex-grow: 1;
	width: 100%;
	background-color: orange;
}

.QuizCreator > div {
	width: 100%;
	max-width: 600px;
	padding: 20px;
	background-color: #ddd;
	border-radius: 5px;
}

.QuizCreator h1 {
	text-align: center;
}

@media only screen and (max-width: 575px) {
	.QuizCreator__footer button {
		width: 100%;
		margin-bottom: 15px;
	}
}

